@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.flex {
  display: flex;
}
.flex--row {
  flex-direction: row;
}

.overflow--initial {
  overflow: initial;
}

.max {
  width: 100%;
  height: 100%;
}
.max--width {
  width: 100%;
}
